.formContainer {
  text-align: center;
  display: flex;
  flex-basis: content;

  color: white;

  border: solid;
  border-radius: 0.5rem;
  border-color: white;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldSections {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.field {
  margin: 4px;
  border: hidden;
  padding: 2px;
}

.namedField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  margin: 0;
  margin-left: 8px;
  margin-bottom: 8px;
}

.bottom-row {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
}

.column:nth-child(1) {
  margin-left: 0;
}

.choicesSectionHeader {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 4px;
}

.sectionHeaderLabel {
  margin-right: 8px;
  font-style: italic;
}

.choice {
  border: solid;
  border-color: white;
  border-radius: 8px;
  border-width: 1px;
  padding: 4px;
  margin-bottom: 4px;
}

.choiceHeader {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 4px;
}