.button {
  /* border:solid; */
  /* border-width: 1px; */
  border: hidden;
  border-width: 2px;
  border-color:white;
  border-radius:5px;
  background-color:rgb(0, 119, 255);
  color: white;
  font-size: 10;
  /* margin: 4px; */
  /* margin-left: 4px; */
  min-height: 18px;
  min-width: 18px;
}

.bold {
  font-weight: bold;
}

.big {
  /* min-height: 40px; */
  font-size: 1.5rem;
  /* font-weight: normal; */
}

.red {
  background-color:rgb(255, 96, 96);
  /* background-color:transparent; */
  /* color:red; */
}