.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-h1 {
  margin: 0;
  font-style: italic;
}

.App-p {
  margin-top: 0;
  font-family: monospace;
}

.main-row {
  display: flex;
  flex-direction: row;
}
