$dark-bg: #282c34;
$highlight: rgb(9, 75, 151);
$error: rgb(143, 29, 14);
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;